<h2>Enter Your Life Event:</h2>
		<form action="/new_event" method="post">
          <input type="text" id="life_events_description" name="life_events[description]" placeholder="Describe Life Event">
          <input type="text" id="life_events_date_happened" name="life_events[date_happened]" placeholder="Date Happened">
          <input type="text" id="life_events_person_most_affected" name="life_events[person_most_affected]" placeholder="Closests person to experience this with you">
          <input type="submit">
    </form>