<h2>Enter Your School Attended:</h2>
		<form action="/new_school" method="post">
          <input type="text" id="school_attendeds_name" name="school_attendeds[name]" placeholder="Name of School Attended">
           <input type="text" id="school_attendeds_date_graduated" name="school_attendeds[date_graduated]" placeholder="Date Graduated">
            <input type="text" id="school_attendeds_description" name="school_attendeds[description]" placeholder="Description of School">
          <input type="submit">
    </form>